@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: white;
  height: 450px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5%;
}

.card p {
  font-size: 80px;
}

.card span {
  font-size: 80px;
}
.numbContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suit1 {
  margin-left: 10px;
}

.suit2 {
  transform: rotate(180deg);
  margin-left: 225px;
  margin-top: 60px;
}

.red {
  color: red;
}

.black {
  color: black;
}
